@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1597829264201'); /* IE9 */
  src: url('iconfont.eot?t=1597829264201#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff2?t=1597829264201') format('woff2'),
  url('iconfont.woff?t=1597829264201') format('woff'),
  url('iconfont.ttf?t=1597829264201') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1597829264201#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dongjie:before {
  content: "\e646";
}

.icon-zongshu:before {
  content: "\e62d";
}

.icon-keyongjine:before {
  content: "\e69e";
}

.icon-keyongjine1:before {
  content: "\e6ab";
}

.icon-dongjie1:before {
  content: "\e774";
}

.icon-keyongxing:before {
  content: "\e6a8";
}

.icon-xiala:before {
  content: "\e60c";
}

.icon-shangla:before {
  content: "\e62a";
}

.icon-xiala-copy:before {
  content: "\e6c2";
}

.icon-genzong:before {
  content: "\e603";
}

.icon-dc-icon-jishuzhuanyi:before {
  content: "\e647";
}

.icon-noread:before {
  content: "\e627";
}

.icon-read:before {
  content: "\e633";
}

.icon-tixing:before {
  content: "\e6c1";
}

